.cardCategorie{
    width: 20rem;
    float: left;
    margin: 1%;
}

.liste{

    margin: auto;
    align-items: center;
    align-content: center;
    background: white;
}
th,td{
    width: 950px;
    border-bottom: 2px solid black;
}
.formFROD{
    width: 30%;
    margin: auto;
    align-items: center;
}
.titreFormFROD{
    text-align: center;
    background-color: white;
    margin: 2%;
}
.btnFormFROD{
    margin: 1%;
}
.btnDeleteFROD{
    position: absolute;
    bottom: -1px;
    left: 54%;
}
#app{
    height: 100%;
}
body{
    height: 100vh;
    background-image:url("../img/background.jpg");
}
