<template>
    <div class="liste table-hover container-fluid card">
        <h1 class="titreFormFROD card-header">Liste de Roues</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Largeur</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Pneu</th>
                    <th scope="col">Jante</th>
                    <th scope="col">Modifier</th>
                </tr>
            </thead>
            <template v-if="Roues.length > 0">
                <tbody v-for="(uneRoue) in Roues">
                    <tr>
                        <td><router-link :to="{name:'rouesAfficher', params: {id: uneRoue.id}}">{{uneRoue.id}}</router-link></td>
                        <td>{{uneRoue.taille}}</td>
                        <td>{{uneRoue.largeur}}</td>
                        <td>{{uneRoue.prix}}$</td>
                        <td>{{uneRoue.pneu}}</td>
                        <td>{{uneRoue.jante}}</td>
                        <td><router-link :to="{name:'rouesModifier', params: {id: uneRoue.id}}">Modifier</router-link></td>

                    </tr>
                </tbody>
            </template>
            <template v-else>
                <p v-if="etat='chargement'">Chargement</p>
            </template>
                
        </table>
      <router-link :to="{name:'rouesCreer'}" tag="button" class="btn btn-primary">Créer</router-link>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable';
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import axios from 'axios';
    import lodash from 'lodash';

    export default {
        name: "RoueFormListComponent",
        data(){
            return {
                Roues: [],
                etat: "chargement"
            }
        },
        // Affiche la liste des roues
        mounted: function () {
            axios.get("/api/roues/listeApi")
                .then(response =>{
                    this.etat = "charge";
                    this.Roues = response.data;
                    console.log(response.data);
                })
        }
    }
    
</script> 