<template>
    <div class="formFROD card">
        <h1 class="titreFormFROD">Modification d'une roue</h1>
            <div class="form-group">
                <label for="taille" class="">Taille :</label>
                <input type="text" readonly id="nom" name="nom" class="form-control" v-model="roue.taille">
            </div>
            <div class="form-group">
                <label for="largeur" class="">Largeur :</label>
                <input type="text" readonly id="nom" name="nom" class="form-control" v-model="roue.largeur">
            </div>
            <div class="form-group">
                <label for="prix" class="">Prix :</label>
                <input type="text" readonly id="nom" name="nom" class="form-control" v-model="roue.prix">
            </div>

            <div class="form-group">
                <label for="prix" class="">Pneu :</label>
                <input type="text" readonly id="nom" name="nom" class="form-control" v-model="roue.pneu">
            </div>
            <div class="form-group">
                <label for="prix" class="">Jante :</label>
                <input type="text" readonly id="nom" name="nom" class="form-control" v-model="roue.jante">
            </div>
            <div class="form-group">
                <a @click="deleteConfirm(roue.id)" class="btn btn-danger"> Supprimer</a>
            </div>
            <div class="form-group">
                <a @click="$router.go(-1)" class="btn btn-primary"> Retour</a>
            </div>
    </div>
</template>
<script>

export default {
    props: ['id'],
    data() {
        return {
            roue: [],
        }
    },
    // Recherche les informations de la roue
    mounted: function () {
        axios.get("/api/roues/showApi/"+this.id)
            .then(response =>{
                this.roue = response.data;
            })
    },
    methods: {
        // Supprime la roue de la base de données
       deleteConfirm(){
           let that = this;
           this.$swal({
               title: "Effacer une roue",
               text: "Effacer la roue comprenant : "+ this.roue.pneu + " et "+this.roue.jante,
               type: "warning",
               showCancelButton: true,
               confirmButtonText: "Supprimer",
               cancelButtonText: 'Cancel'
           }).then( (result) => {
               if (result.value) {
                    axios.get("/api/roues/deleteApi/"+this.id)
                        .then(response => {
                            that.$swal("Supprimé !");
                            this.$router.go(-1);
                        })
                        .catch(function (erreur) {
                            that.$swal("Erreur pendant l'effacement")
                            console.log(erreur);
                        })
               } else {
                   this.$swal("Annulé");
               }
               
           })
       }
    }
    
}
</script>