<template>
    <div class="formFROD card">
        <h1 class="titreFormFROD">Création d'une roue</h1>
        <form method="POST" action="" @submit.prevent="onSubmit" role="form">

            <div class="form-group">
                <label for="taille" class="">Taille :</label>
                <input type="number" id="nom" name="nom" class="form-control" v-model="roue.taille">
                <form-error v-if="erreurs.taille" :erreurs="erreurs">{{erreurs.taille[0]}}</form-error>
            </div>
            <div class="form-group">
                <label for="largeur" class="">Largeur :</label>
                <input type="number" id="nom" name="nom" class="form-control" v-model="roue.largeur">
                <form-error v-if="erreurs.largeur" :erreurs="erreurs">{{erreurs.largeur[0]}}</form-error>
            </div>
            <div class="form-group">
                <label for="prix" class="">Prix :</label>
                <input type="number" id="nom" name="nom" class="form-control" v-model="roue.prix">
                <form-error v-if="erreurs.prix" :erreurs="erreurs">{{erreurs.prix[0]}}</form-error>

            </div>

            <div class="form-group">
                <label for="pneu" class="">Pneu :</label>
                <div class="">
                    <v-select
                        label="pneu"
                        :reduce="x => x.id"
                        :options="listePneus"
                        v-model="pneuSelectionne"
                        >
                    </v-select>
                </div>
            </div>
            <div class="form-group">
                <label for="jante" class="">Jante :</label>
                <div class="">
                    <v-select
                        label="jante"
                        :reduce="x => x.id"
                        :options="listeJantes"
                        v-model="janteSelectionne"
                        >
                    </v-select>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary"> Sauvegarder</button>
            </div>
            
            <div class="form-group">
                <a @click="$router.go(-1)" class="btn btn-primary"> Retour</a>
            </div>
        </form>
    </div>
</template>

<script>
import FormError from '../FormError.vue';
export default {
    data: function() {
        return {
            roue: [],
            erreurs: [],
            listePneus: [],
            listeJantes: [],
            pneuSelectionne: "",
            janteSelectionne: ""
        }
    },
    mounted: function(){
        // Va chercher la liste de pneus pour le selecteur
        axios.get('/api/pneus/listePneusPourSelecteur')
            .then(response => {
                this.listePneus = this.listePneus.concat(response.data);
            })
        // Va chercher la liste de jante pour le selecteur
        axios.get('/api/jantes/listeJantesPourSelecteur')
            .then(response => {
                this.listeJantes = this.listeJantes.concat(response.data);
            })
    },
    methods: {
        // Lance l'action du formulaire pour la création d'une roue
        onSubmit(){
            axios.post('/api/roues/storeApi/', {
                taille: this.roue.taille,
                largeur: this.roue.largeur,
                prix: this.roue.prix,
                pneu_id: this.pneuSelectionne,
                jante_id: this.janteSelectionne})
                .then(response => {
                    this.$swal('Creation Réussie');
                    this.$router.go(-1);
                })
                .catch( e=> {
                    this.erreurs = e.response.data.errors;
                });
        }
    }

}
</script>
